* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
header {
    height: 70px;
    
}
header h1 {
    
    display: inline-block;
    float: left;
    padding: 15px 24px;
}
header h1 a {
    transition: .3s;
}
header h1 a :hover{
    color:#ff0000;
}
header ul {
    
    float: right;
}
header ul li {
    
    padding: 24px;
    display: inline-block;
}
header ul li a {
    transition: .3s;
}
header ul li a:hover {
    color: #ff0000;
}
* {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    
}
.container::after {
    content: '';
    display: block;
    clear: both;
}
.mobile-menu {
    float: right;
    display: none;
    padding: 25px;
    
}
.mobile-menu{
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color:  rgba(16, 47, 80, 0.9);
    transition: .3s;
}
.sidebar ul li a {
    color: white ;
}
.sidebar ul li {
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
    
}
.sidebar ul li:hover {
    background-color: #ff0000;
}
#check:checked ~ .sidebar {
    left: 0;
}
.banner {
    background-color: rgb(45, 30, 255);
    padding: 80px 0;
}
section {
    padding: 50px 0;
}
.banner img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 10px;
 
}
.banner h2,
.banner p {
    color: white;
}
.banner h2 {
    margin-bottom: 10px;
}
.banner p {
    font-size: 18px;
}
.banner-left {
    padding-left: 24px;
}
section h3 {
    padding-bottom: 20px;
    text-align: center;
    margin: 25px;
    position: relative;
}
section h3::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color:#ddd;
    left: 45%;
}
section h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color:#ff0000;
    left: 48.5%;
}
#about p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    
}
#skill {
    background-color: rgb(45, 30, 255);
}
.box {
   
    color: rgb(45, 30, 255); ;
}
.box::after {
    content: '';
    display: block;
    clear: both;
}
.box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin: 0 auto;
}
.box .col-4 h4 {
    margin: 20px 0;
}
.col-4 {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
}
.col-4 img {
    width: 100%;
}
.col-4 a:hover img {
    transform: scale(1.2);
}
.col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    color: white;
}
.col-2 {
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-2 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
footer {
    background-color:rgb(45, 30, 255);
    padding: 30px;
    text-align: center;
}
footer small {
    color: white;
}
#medsos {
    background-color: rgb(45, 30, 255);
}
#blog,
#about,
#portofolio,
#contact {
    background-color:hsl(0, 0%, 87%);
}
.col-5 {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
}
.col-5 img {
    width: 100%;
}
@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
    header ul {
        display: none;
    }
}
   
